{erl_opts, [
	debug_info,
	warnings_as_errors,
	{parse_transform, lager_transform},
	{lager_truncation_size, 400960}
]}.

{deps, [
	{sj_config, ".*", {git, "ssh://git@stash.sj-dev.local:7999/mailing/erl_sj_config.git", {branch, "master"}}},
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.0.2"}}},
	{emysql, ".*", {git, "ssh://git@stash.sj-dev.local:7999/mailing/emysql.git", {branch, "master"}}},
	{jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.13.2"}}},
	{amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.3.5"}}},
	{statsderl, ".*", {git, "https://github.com/lpgauth/statsderl.git", {tag, "v0.3.5"}}}
]}.
